body {
    background-color: rgb(7, 7, 7);
    color: white;
    margin: 100px 0;
    padding: 0;
    background-image: url("../assets/img/backgrounds/nightSky.jpg");
    background-repeat: no-repeat; /* updated to prevent tiling */
    /* background-size: cover; */ /* removed for animation */
    transition: transform 0.3s ease-in-out;
    animation: pan-bg 350s linear infinite;
    background-attachment: fixed; /* added to move with the viewport */
  }
  
  body.page-transition {
    transform: translateX(-100%);
  }


  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: -3px 1px 10px rgba(169, 175, 185, 0.6);
    background-image: url("https://i.ibb.co/fSKYjtW/liquid-black-backgroung.jpg");
    background-color: rgb(14, 13, 13);
    transition: top 0.3s;
    animation: pan-navbar 90s linear infinite;
  }
  
  #navbar.hidden {
    top: -100px;
  }
  
  #navbar a {
    color: rgb(12, 12, 12);
    text-decoration: none;
  }
  
  #navbar button {
    background-color: purple;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.5s ease;
    width: auto;
    min-width: 100px;
    height: auto;
    box-sizing: border-box;
  }

  button {
    background-color: purple;
    background-image: url("https://i.ibb.co/D7WptKF/purple-button3.jpg");
    color: black;
    cursor: pointer;
    font-weight: 900;
    font-size: large;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(169, 175, 185, 0.6);
    margin: 5px 0;
    box-sizing: border-box;
    white-space: normal;
    max-width: auto;
    max-height: 200px;
    padding: auto;
  }
  
  button a {
    color: black;
    background-color: transparent;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

.column {
  
  flex: 1;
  margin: 10px;
  min-width: 300px;
}

.collapsible {
  background-color: purple;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 2px solid purple;
  border-radius: 20px;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-shadow: 0px 3px 5px rgb(19, 80, 28);
  box-shadow: -1px -4px 10px rgba(169, 175, 185, 0.6);
}

.active, .collapsible:hover {
  background-color: darkviolet;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: black;
  background-image: url("https://i.ibb.co/fSKYjtW/liquid-black-backgroung.jpg");
  border: 2px solid purple;
  border-radius: 20px;
  box-shadow: -1px -4px 10px rgba(169, 175, 185, 0.6);
}

.item {
  position: relative;
  margin: 8px 10px;
  border: 2px solid purple;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(7, 7, 7);
  text-shadow: 0px 3px 5px rgb(19, 80, 28);
  box-shadow: -1px -4px 10px rgba(169, 175, 185, 0.6);
  color: white;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; /* Mask any overflow */
}

.item .copies-count {
  background-color: green;
  border: 1px solid rgb(23, 207, 100);
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
}

.item .tooltip {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.item .tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.item .buttons {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.item .decrease-button, .item .increase-button {
  flex: 1;
  margin-bottom: -3px;
  padding: 1px; /* Lower the height of the buttons */
  border: solid 1px black;
  border-radius: 5px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border-top: 2px solid purple;
}

.item .decrease-button:hover, .item .increase-button:hover {
  background-color: darkviolet;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 10px;
  min-width: 300px;
}

@media (max-width: 600px) {
  .collapsible {
    font-size: 18px;
    padding: 15px;
  }

  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin: 5px 0;
  }
}
