body {
  background-color: rgb(7, 7, 7);
  color: white;
  margin: 100px 0;
  padding: 0;
  background-image: url("../assets/img/backgrounds/nightSky.jpg");
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
  animation: pan-bg 350s linear infinite;
  background-attachment: fixed;
  background-size: cover; /* Ensure full coverage */
}

body.page-transition {
  transform: translateX(-100%);
}

#data-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap into multiple columns */
  justify-content: flex-start; /* Align items to the start of the container */
  width: 100%; /* Take up full width */
  margin: 20px auto;
}

.item-row {
  width: calc(33% - 20px); /* Each item takes up about a third of the width, minus margin */
  margin: 10px;
  margin-bottom: 10px;
  border: 2px solid purple;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  background-color: #111;
  box-shadow: -1px -4px 10px rgba(169, 175, 185, 0.6);
  transition: all 0.3s ease;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

@media (max-width: 768px) {
  .item-row {
    width: calc(50% - 20px); /* Two items per row on medium screens */
  }
}

@media (max-width: 480px) {
  .item-row {
    width: 100%; /* One item per row on small screens */
  }
}

.item-row:hover {
  background-color: #333;
}

.item-row.expanded {
  background-color: #555;
}

.item-row .item-title {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-shadow: 0px 3px 5px rgb(19, 80, 28);
}

.item-row .item-title a {
  color: white; /* Set title link color to white */
  text-decoration: none; /* Remove underline from links */
}

.item-row .item-title a:visited {
  color: white; /* Set visited link color to white */
}

.item-row .item-details {
  padding: 10px;
  display: none;
  color: #ddd;
}

.item-row.expanded .item-details {
  display: block;
}

.item-row .item-details p {
  margin: 5px 0;
}

.item-row .item-details strong {
  color: purple;
}

.item-row .item-details a {
  color: lightblue;
  text-decoration: none;
}

.collapsible-item {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  background-color: #f1f1f1;
  color: #333;
  display: none;
  overflow: hidden;
}

.content p {
  margin: 5px 0;
}

.content .key {
  font-weight: bold;
  text-shadow: #333 10px 1px 1px;
  color: #555;
}

.content .value {
  color: #777;
}
