@media (max-width: 768px) {
  /* Increase child container widths to be parent's width minus 2px (1px padding each side) */
  #mealModsContainer,
  #concoctionsContainer,
  #frozenSnackContainer,
  #sweetSnackContainer,
  #saltySnackContainer {
    width: calc(100% - 2px);
  }
}


#summary {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
}

#summary h2 {
  margin-top: 0;
  border-bottom: 5px solid #ddd;
  padding-bottom: 8px;
}

#summary ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

#summary li {
  padding: 4px 0;
  border-bottom: 1px dashed #ccc;
}

#summary p {
  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
  margin: 10px 0 0;
}
